header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}

h1 input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
    color: var(--dark);
    font-size: 3rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
}
h1 input:focus {
    outline: none;
}
input::default {
    font-size: 1.7rem;
}
