h3 {
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

form input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
    border: none;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    font-size: 1rem;
}
